.form-layout{ 

    border-radius: 5px; 
    width: 500px; 
    
 } 

 @font-face {
    font-family: myFirstFont;
    src: url("../font/AntonSC-Regular.ttf");
  } 



  .myfont{ 

    font-family: myFirstFont;
  }
