{% extends 'website/base.html' %}  
{% load crispy_forms_tags %}
{% block content %} 
 <body> 
    <br> 
    <div class="container bg-success p-4"> 
     <h3 style='text-align: center;'> Create your account</h3> 
     <h5 style= "color: white; text-align: center;">SANTA DIDDY</h5> 
     <hr> 
     <br> 
     <form method="POST" autocomplete = "off" >
     {% csrf_token %} 
     {{form|crispy}} 
     <br> 
     <button type="submit" class = "btn btn-primary w-100 btn-block p-2">Create account</button> 
    </form> 
    

    <br> 
    <div class = "text-center"> 
         <p>Already have an account? </p> <a class = "text-light" href="{% url 'login' %}">Login</a>
    </div> 
    <br>

    
    
    </div>
 </body> 
 {% endblock %}